*.o
*.exe
*.pyc
*.pyo
*.swp
*.mp3
*.wav
*.raw
*.png
*.jpg
*.pd
*.im
*.aux
*.log
*.vlog
*.pdf
*.bak
*.gz
*.bz2
*.7z
*.tgz
*.tbz2
.*.sw*
core
core.*
*.core.*
*.stackdump
/build
/profile
src/arch
src/*_test
src/*_profile
src/kazoo
src/learn
src/toy
src/player
src/*.text
temp.*
data/*.*
test/*.text
test/*.png

